<footer id="main-footer" class="text-center justify-content-center bg-white fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright &copy;
            <span id="year">2024</span> studentassistant.com </p>
        </div>
      </div>
    </div>
  </footer>
  <script src="/js/quizzes.js" defer></script>
</body>
</html>