<footer id="main-footer" class="text-center justify-content-center fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright &copy;
            <span id="year">2024</span> studentassistant.com </p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      new Typed('.auto-type', {
        strings: ["Exam Preparation", "Learning, Practice, Excellence"],
        typeSpeed: 45,
        backSpeed: 35,
        loop: false, // Keep typing effect looping
      });
    });
  </script>
  <script src="/js/modal-uploadhub.js" defer></script>
  <script src="/js/quizzes.js" defer></script>
</body>
</html>